<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmwBU9GOk_EjpfY0207DcNs4EH9d4I_QY</string>
	<key>GCM_SENDER_ID</key>
	<string>703989381905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resume.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>resume-data-d054d</string>
	<key>STORAGE_BUCKET</key>
	<string>resume-data-d054d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703989381905:ios:c9c891b33bd336b3076ab0</string>
</dict>
</plist>